#some code taken from: https://gitlab.com/dawson-cst-cohort-2026/520/exercises/08-unit-testing/-/blob/main/.gitlab-ci.yml?ref_type=heads

image: node:22.8-bullseye-slim

# if any of the conditions below is satisfied, the pipeline runs
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == "staging"

stages:
  - install
  - lint
  - build
  - test
  - release

#split install job into server & client since each has their own package.json
install-server:
  stage: install
  script:
    # ADD DUMMY .ENV FILE SO THAT PIPELINE DOESNT COMPLAIN
    - cd Video_Game_Trends_Analyzer_Project/server
    # - echo "DEV_ATLAS_URI=mongodb://localhost:27017" > .env
    # - echo "DEV_DB=testDB" >> .env
    # - echo "DEV_VG_COLLECTION=video_game_sales" >> .env
    # - echo "DEV_TRENDS_COLLECTION=google_trends_queries" >> .env
    - npm ci --cache .npm --prefer-offline
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - Video_Game_Trends_Analyzer_Project/server/.npm/
  artifacts:
    paths:
      - Video_Game_Trends_Analyzer_Project/server/node_modules/

install-client:
  stage: install
  script:
    - cd Video_Game_Trends_Analyzer_Project/client
    - npm ci --cache .npm --prefer-offline
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - Video_Game_Trends_Analyzer_Project/client/.npm/
  artifacts:
    paths:
      - Video_Game_Trends_Analyzer_Project/client/node_modules/

#--server jobs--#

# run lint on server js files
lint-server:
  stage: lint
  dependencies:
    - install-server
  script:
    - cd Video_Game_Trends_Analyzer_Project/server
    - npm run lint

test-server:
  stage: test
  dependencies:
    - install-server
  script:
    - cd Video_Game_Trends_Analyzer_Project/server
    # recreate .env in test job
    # - echo "DEV_ATLAS_URI=mongodb://localhost:27017" > .env
    # - echo "DEV_DB=testDB" >> .env
    # - echo "DEV_VG_COLLECTION=video_game_sales" >> .env
    # - echo "DEV_TRENDS_COLLECTION=google_trends_queries" >> .env
    - npm run test

#--client jobs--#

# run lint on client js files
lint-client:
  stage: lint
  dependencies:
    - install-client
  script:
    - cd Video_Game_Trends_Analyzer_Project/client
    - npm run lint

build-client:
  stage: build
  dependencies:
    - install-client
  script:
    - cd Video_Game_Trends_Analyzer_Project/client
    - npm run build
    - cd ../
    - npm run bundlesize
  artifacts:
    paths:
      - Video_Game_Trends_Analyzer_Project/client/dist

# build release archive for aws
build-app-archive:
  stage: release
  variables:
    # release-<project>-<tag>-<short-commit>.tar.gz
    RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz
  dependencies:
    - build-client
  #rules:
  #run when tag is pushed -comment out for now
  #- if: "$CI_COMMIT_TAG"
  before_script:
    - cd Video_Game_Trends_Analyzer_Project
    # install only production depen in /server
    - cd server
    - npm ci --omit=dev
    # back to repo root for tar paths
    - cd ..
  script:
    - tar -zcvf "../$RELEASE_FILE" server client/dist
  artifacts:
    paths:
      - $RELEASE_FILE
