
/* Adds red border to every element */
* {
  /* border: red solid 1px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Elms Sans", sans-serif;
}

h1 {
  font-size: 7rem;
  font-weight: 300;
  width: 9em;
  margin: 0 0 3%;
  line-height: 1em;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************ GRADIENT BACKGROUND ************/

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  background:

    /* Purple, green, blue */
    linear-gradient(150deg, rgba(111, 1, 184), rgba(248, 199, 255, 0) 16%) 0 0 / 200% 200% no-repeat,
    linear-gradient(172deg, rgba(126, 15, 96, 0.89), rgba(248, 199, 255, 0) 18%) 0 0 / 200% 200% no-repeat,
    linear-gradient(188deg, rgba(14, 157, 138, 0.852), rgba(0, 102, 97, 0) 10%) 0 0 / 200% 200% no-repeat,
    linear-gradient(200deg, rgba(61, 32, 165, 0.913), rgba(0, 102, 97, 0) 18%) 0 0 / 200% 200% no-repeat,
    linear-gradient(0deg, #000, #000 100%) no-repeat;

  animation: gradientShift 20s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
  50% {
    background-position: 100% 0%, 100% 0%, 100% 0%, 100% 0%, 0 0;
  }
  100% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
}


/************ TITLE SCREEN ************/
#title-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-div > p {
  font-family: "Share Tech Mono", monospace;
  font-size: 26px;
}

#down-arrow {
  height: 72px;
  width: 42px;
  border: 1px white solid;
  border-radius: 30px;
  animation: arrow-jump 3s ease-in-out infinite;
}

@keyframes arrow-jump {
  0% { transform: translateY(0);}
  50% { transform: translateY(12px); }
  100% { transform: translateY(0); }
}

/************ INTRO TEXT ************/

#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:60vh;
  width: 50vw;
  font-size: large;
}

#intro-section > h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #a077ff;
}

/************ CHART VIEWS ************/
.view-div {
  display: flex;
  height: 100vh;
  padding: 0 5%;
}

.view-div div {
  /* width: 100%; */
}

.view-title-header {
  display: flex;
  align-items: center;
}

.view-title-header h2 {
  flex: 3;
}

.left-column {
  flex: 2;
  padding-right: 5%;
}

.right-column {
  flex: 1;
}

.description-text {
  text-align: left;
  margin: 1.5em 0;
}

canvas {
  width: 100%;
}


/************ MOBILE VIEWS ************/
/* @media (max-width: 600px) {
} */