
/* Adds red border to every element */
* {
  border: red solid 1px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/************ CHART VIEWS ************/
.view-div {
  height: 100vh;
}


/************ MOBILE VIEWS ************/
/* @media (max-width: 600px) {
} */