
/* Adds red border to every element */
* {
  /* border: red solid 1px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Elms Sans", sans-serif;
}

h1 {
  font-size: 7rem;
  font-weight: 300;
  width: 9em;
  margin: 0 0 3%;
  line-height: 1em;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
}

select {
  font-family: "Elms Sans", sans-serif; 
  font-weight: 600;
  font-size: medium;
  text-align: center;
  padding: 0.4em;
  margin: 0.4em 0;
  border-radius: 20px;
  border: 2px white solid;
  color: white;
  background-color: #68686836;
}

select option {
  font-family: "Elms Sans", sans-serif;
  padding: 8px;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.694);
  color: black;
  font-size: 16px;
}

.select-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************ GRADIENT BACKGROUND ************/

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  background:

    /* Purple, green, blue */
    linear-gradient(150deg, rgb(111, 1, 184), #00000000 18%) 0 0 / 200% 200% no-repeat,
    linear-gradient(172deg, rgba(232, 35, 179, 0.884), #00000000 18%) 0 0 / 200% 200% no-repeat,
    linear-gradient(188deg, rgba(18, 194, 170, 0.852), #00000000 14%) 0 0 / 200% 200% no-repeat,
    linear-gradient(200deg, rgba(61, 32, 165, 0.913), #00000000 18%) 0 0 / 200% 200% no-repeat,
    /* linear-gradient(0deg, #000000, #000000 100%) no-repeat; */
    linear-gradient(0deg, #141414, #141414 100%) no-repeat;

  animation: gradientShift 15s ease-in-out infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0; }
  50% { background-position: 100% 0%, 100% 0%, 100% 0%, 100% 0%, 0 0; }
  100% { background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0; }
}


/************ TITLE SCREEN ************/

#title-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-div > p {
  font-size: 20px;
  font-weight: 400;
}

#down-arrow {
  height: 72px;
  width: 42px;
  border: 2px white solid;
  border-radius: 30px;
  background-color: #3e3e3e5c;
  margin-top: 5%;
  animation: arrow-jump 3s ease-in-out infinite;
}

@keyframes arrow-jump {
  0% { transform: translateY(0);}
  50% { transform: translateY(12px); }
  100% { transform: translateY(0); }
}

/************ INTRO TEXT ************/

#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:60vh;
  width: 50vw;
  font-size: large;
}

#intro-section > h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #a077ff;
}

/************ CHART VIEWS ************/

.view-div {
  display: flex;
  height: 120vh;
  width: 84vw;
  padding: 0 5%;
}

.description-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 17px;
  text-align: left;
}

/************ MOBILE VIEWS ************/
@media (max-width: 700px) {

  .main-container,
  .view-div,
  .select-filter,
  #intro-section {
    flex-direction: column !important;
    width: 100% !important;
    height: auto !important;
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
    width: auto;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  #intro-section {
    width: 90vw;
  }

  .view-div {
    padding: 0;
    margin-top: 2rem;
  }

  select {
    width: 80%;
    font-size: 1rem;
  }


  .description-text {
    font-size: 15px;
    text-align: center;
  }

  canvas {
    max-width: 100% !important;
  }
}