
/* Adds red border to every element */
* {
  /* border: red solid 1px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Elms Sans", sans-serif;
  font-size: 80px;
  width: 9em;
  line-height: 1em;
}

/************ CHART VIEWS ************/
.view-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/************ MOBILE VIEWS ************/
/* @media (max-width: 600px) {
} */