
/* Adds red border to every element */
* {
  /* border: red solid 1px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Elms Sans", sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 80px;
  width: 9em;
  margin: 20% 0;
  line-height: 1em;
}

/************ GRADIENT BACKGROUND ************/

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  background:
    /* linear-gradient(150deg, rgba(68, 13, 83, 0.9), rgba(248, 199, 255, 0) 20.71%),
    linear-gradient(170deg, rgba(13, 83, 75, 0.9), rgba(248, 199, 255, 0) 20.71%),
    linear-gradient(200deg, rgb(15, 8, 79), rgba(0, 102, 97, 0) 20.71%),
    linear-gradient(0deg, #000, #000 100%); */

    /* Purple, green, blue */
    /* linear-gradient(150deg, rgb(86, 14, 106), rgba(248, 199, 255, 0) 20.71%) 0 0 / 200% 200% no-repeat,
    linear-gradient(170deg, rgb(13, 83, 75), rgba(248, 199, 255, 0) 20.71%) 0 0 / 200% 200% no-repeat,
    linear-gradient(200deg, rgb(15, 8, 79), rgba(0, 102, 97, 0) 20.71%) 0 0 / 200% 200% no-repeat, */

    linear-gradient(150deg, rgb(123, 11, 48), rgba(248, 199, 255, 0) 10.71%) 0 0 / 200% 200% no-repeat,
    linear-gradient(170deg, rgb(157, 81, 14), rgba(248, 199, 255, 0) 10.71%) 0 0 / 200% 200% no-repeat,
    linear-gradient(190deg, rgba(165, 112, 32, 0.372), rgba(0, 102, 97, 0) 10.71%) 0 0 / 200% 200% no-repeat,
    linear-gradient(198deg, rgba(165, 32, 76, 0.9), rgba(0, 102, 97, 0) 10.71%) 0 0 / 200% 200% no-repeat,

    /* radial-gradient(circle at 20% 5%, rgba(123, 11, 48, 0.6), transparent 18%) 0 0 / 200% 200% no-repeat,
    radial-gradient(circle at 50% 3%, rgba(157, 81, 14, 0.5), transparent 15%) 0 0 / 200% 200% no-repeat,
    radial-gradient(circle at 70% 7%, rgba(165, 112, 32, 0.4), transparent 22%) 0 0 / 200% 200% no-repeat,
    radial-gradient(circle at 85% 10%, rgba(165, 32, 76, 0.7), transparent 20%) 0 0 / 200% 200% no-repeat, */
    linear-gradient(0deg, #000, #000 100%) no-repeat;

  animation: gradientShift 30s ease-in-out infinite;
  /* animation: orbShiftTop 80s ease-in-out infinite; */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
  50% {
    background-position: 100% 0%, 100% 0%, 100% 0%, 100% 0%, 0 0;
  }
  100% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
}

@keyframes orbShiftTop {
  0% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
  50% {
    background-position: 80% 5%, 60% 15%, 30% 10%, 70% 20%, 0 0;
  }
  100% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0 0;
  }
}

/************ INTRO TEXT ************/

#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:60vh;
  width: 50vw;
  font-size: large;
}

/************ CHART VIEWS ************/
.view-div {
  height: 100vh;
}


/************ MOBILE VIEWS ************/
/* @media (max-width: 600px) {
} */