
/* Adds red border to every element */
* {
  /* border: red solid 1px; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Elms Sans", sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  /* font-family: "Elms Sans", sans-serif; */
  font-size: 80px;
  width: 9em;
  /* margin: 20% 0; */
  line-height: 1em;
}

/************ INTRO TEXT ************/

#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:60vh;
  width: 50vw;
}

/************ CHART VIEWS ************/
.view-div {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  height: 100vh;
}


/************ MOBILE VIEWS ************/
/* @media (max-width: 600px) {
} */