@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech+Mono&display=swap');

* {
    color: white;
}

html, body {
    margin: 0;
}