.view2-container {
  flex-direction: column;
}

.view2-header {
  display: flex;
  align-items: flex-start;
}

.view2-header h2 {
  width: 8em;
}

.view2-header div.select-filter {
  margin: 0 1em;
}

/*** TABLES ***/

.view2-body {
 display: flex;
}

.view2-list {
  flex: 1;
  background: #37373757;
  border-radius: 20px;
  margin: 1%;
}

.view2-list table {
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin-top: 8%;
  border-collapse: collapse;
}

.view2-list th {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #4a4a4a;
  padding: 0.5em 0.4em;
  text-align: left;
  height: 2em;
}

.view2-list td {
  padding: 0.5em 0.4em;
  height: 2em;
}

.view2-list th:first-child,
.view2-list td:first-child {
  width: 4em;
  text-align: center;
}

/*** MAP CHART ***/

.map-div {
  flex: 2;
  margin: 1%;
  padding: 1%;
  background: #34265226;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MOBILE VIEW */
@media (max-width: 700px) {
  .view2-body {
    display: flex;
    flex-direction: column;
  }
}